absl-py==1.4.0
addict==2.4.0
aiohttp==3.8.4
aiosignal==1.3.1
altair==4.2.2
antlr4-python3-runtime==4.9.3
anyio==3.6.2
appdirs==1.4.4
asttokens==2.2.1
async-timeout==4.0.2
asyncer==0.0.2
attrs==22.2.0
backcall==0.2.0
black==23.1.0
blinker==1.5
blis==0.7.9
boto3==1.26.71
botocore==1.29.72
braceexpand==0.1.7
cachetools==5.3.0
catalogue==2.0.8
certifi==2022.12.7
cfgv==3.3.1
charset-normalizer==3.0.1
chumpy==0.70
click==8.1.3
clip @ git+https://github.com/openai/CLIP.git@3702849800aa56e2223035bccd1c6ef91c704ca8
coloredlogs==15.0.1
comm==0.1.2
confection==0.0.4
ConfigArgParse==1.5.3
contexttimer==0.3.3
contourpy==1.0.7
cycler==0.11.0
cymem==2.0.7
dash==2.8.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dataclasses==0.6
debugpy==1.6.6
decorator==5.1.1
decord==0.6.0
dill==0.3.7
distlib==0.3.6
einops==0.6.0
entrypoints==0.4
executing==1.2.0
fairscale==0.4.4
fastapi==0.87.0
fastjsonschema==2.16.2
ffmpeg-python==0.2.0
filelock==3.9.0
filetype==1.2.0
flake8==6.0.0
flake8-bugbear==23.1.20
flake8-comprehensions==3.10.1
Flask==2.2.2
flatbuffers==23.1.21
fonttools==4.38.0
freetype-py==2.3.0
frozenlist==1.3.3
fsspec==2023.1.0
ftfy==6.1.1
future==0.18.3
fvcore==0.1.5.post20221221
gitdb==4.0.10
GitPython==3.1.31
glfw==2.5.6
google-auth==2.16.0
google-auth-oauthlib==0.4.6
grpcio==1.51.1
h11==0.14.0
huggingface-hub==0.12.1
humanfriendly==10.0
identify==2.5.18
idna==3.4
ImageHash==4.3.1
imageio==2.25.0
imageio-ffmpeg==0.4.8
imgui==1.4.1
importlib-metadata==6.0.0
iopath==0.1.10
ipdb==0.13.11
ipykernel==6.21.2
ipython==8.9.0
ipywidgets==8.0.4
itsdangerous==2.1.2
jedi==0.18.2
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.2.0
jsonschema==4.17.3
jupyter_client==8.0.2
jupyter_core==5.2.0
jupyterlab-widgets==3.0.5
kaggle==1.5.12
kiwisolver==1.4.4
kornia==0.6.9
langcodes==3.3.0
libcst==0.4.9
lightning-utilities==0.6.0.post0
llvmlite==0.39.1
Markdown==3.4.1
markdown-it-py==2.1.0
MarkupSafe==2.1.2
matplotlib==3.6.3
matplotlib-inline==0.1.6
mccabe==0.7.0
mdurl==0.1.2
mediapipe==0.9.1.0
moreorless==0.4.0
mpmath==1.2.1
multidict==6.0.4
munch==2.5.0
murmurhash==1.0.9
mypy-extensions==1.0.0
natsort==8.4.0
nbformat==5.5.0
nest-asyncio==1.5.6
networkx==3.0
neural-renderer==1.1.3
nfn==0.1.1
ninja==1.11.1
nodeenv==1.7.0
numba==0.56.4
numpy==1.23.5
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
oauthlib==3.2.2
omegaconf==2.3.0
onnxruntime==1.13.1
open3d==0.16.0
opencv-contrib-python==4.7.0.68
opencv-python==4.7.0.68
opencv-python-headless==4.5.5.64
opendatasets==0.1.22
packaging==23.0
pandas==1.5.3
parso==0.8.3
pathspec==0.11.0
pathy==0.10.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.3.0
platformdirs==3.0.0
plotly==5.13.0
pooch==1.6.0
portalocker==2.7.0
pre-commit==3.0.4
preshed==3.0.8
prompt-toolkit==3.0.36
protobuf==3.20.3
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==11.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocoevalcap==1.2
pycocotools==2.0.6
pycodestyle==2.10.0
pydantic==1.10.5
pydeck==0.8.0
pyflakes==3.0.1
pyglet==2.0.4
Pygments==2.14.0
PyMatting==1.1.8
Pympler==1.0.1
PyOpenGL==3.1.0
pyparsing==3.0.9
pyquaternion==0.9.9
pyrender==0.1.45
pyrsistent==0.19.3
pyspng==0.1.1
python-dateutil==2.8.2
python-magic==0.4.27
python-multipart==0.0.5
python-slugify==8.0.0
pytorch-fid==0.3.0
pytorch-lightning==1.9.2
pytorch3d==0.7.2
pytz==2022.7.1
pytz-deprecation-shim==0.1.0.post0
PyWavelets==1.4.1
PyYAML==6.0
pyzmq==25.0.0
regex==2022.10.31
rembg==2.0.30
requests==2.28.2
requests-oauthlib==1.3.1
rich==13.3.1
rsa==4.9
Rtree==1.0.1
s3transfer==0.6.0
salesforce-lavis==1.0.0
scikit-image==0.19.3
scikit-learn==1.2.1
scipy==1.9.3
semver==2.13.0
sentencepiece==0.1.97
six==1.16.0
smart-open==6.3.0
smmap==5.0.0
smplx==0.1.28
sniffio==1.3.0
spacy==3.5.0
spacy-legacy==3.0.12
spacy-loggers==1.0.4
srsly==2.4.5
stack-data==0.6.2
starlette==0.21.0
stdlibs==2022.10.9
streamlit==1.18.1
sympy==1.11.1
tabulate==0.9.0
tenacity==8.2.1
tensorboard==2.12.0
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
termcolor==2.2.0
text-unidecode==1.3
thinc==8.1.7
threadpoolctl==3.1.0
tifffile==2023.2.3
timm==0.4.12
tinyobjloader==2.0.0rc7
tokenizers==0.13.2
toml==0.10.2
tomli==2.0.1
toolz==0.12.0
tornado==6.2
tqdm==4.64.1
trailrunner==1.2.1
traitlets==5.9.0
transformers==4.26.1
trimesh==3.19.3
typer==0.7.0
typing-inspect==0.8.0
typing_extensions==4.4.0
tzdata==2022.7
tzlocal==4.2
urllib3==1.26.14
usort==1.0.5
uvicorn==0.20.0
validators==0.20.0
virtualenv==20.19.0
wasabi==1.1.1
watchdog==2.1.9
wcwidth==0.2.6
webdataset==0.2.33
Werkzeug==2.2.2
widgetsnbextension==4.0.5
yacs==0.1.8
yarl==1.8.2
zipp==3.13.0
